In [20]:
import pandas as pd
import numpy as np
import chardet
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
def detect_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read(10000))  # Analyze first 10,000 bytes
    return result['encoding']

# Load file with the correct encoding
def load_csv(file_path):
    encoding = detect_encoding(file_path)
    print(f"Detected encoding: {encoding}")
    try:
        data = pd.read_csv(file_path, encoding=encoding)
        print("CSV file loaded successfully!")
        return data
    except Exception as e:
        print(f"Error loading CSV: {e}")
        return None

In [22]:
file_path = "sales_data_sample.csv"

data = load_csv(file_path)

Detected encoding: Windows-1252
CSV file loaded successfully!

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data.describe()

In [ ]:
data.columns

In [ ]:
for column in data.columns:
    print(f"{column}: {data[column].nunique()} unique values")

In [ ]:
data.isnull().any()

In [26]:
null_columns = data.isnull().sum()
null_columns = null_columns[null_columns > 0]

print(null_columns)

ADDRESSLINE2    2521
STATE           1486
POSTALCODE        76
TERRITORY       1074
dtype: int64

In [ ]:
# Histogram for Sales column
plt.figure(figsize=(8, 5))
sns.histplot(data['SALES'], bins=30, kde=True, color='blue')
plt.title('Sales Distribution')
plt.xlabel('Sales')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Bar plot for Order Status counts
plt.figure(figsize=(8, 5))
data['STATUS'].value_counts().plot(kind='bar', color='orange')
plt.title('Order Status Count')
plt.xlabel('Status')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Heatmap for correlation matrix
correlation_matrix = data.corr(numeric_only=True)
# print(correlation_matrix)
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap')
plt.show()

# Change in data

In [23]:
data.shape

(2823, 25)

In [24]:
data_cleaned = data.dropna(subset=["ADDRESSLINE2", "STATE", "POSTALCODE", "TERRITORY"])

In [25]:
data_cleaned.shape

(147, 25)

Can not drop missing values cause data is reduce significantly

### TERRITORY,STATE Missing value --> Unknown

In [39]:
print(data['TERRITORY'].value_counts())
print(" \n for state value count is: \n")
data['STATE'].value_counts()

EMEA       1407
Unknown    1074
APAC        221
Japan       121
Name: TERRITORY, dtype: int64

 for state value count is:

CA               416
MA               190
NY               178
NSW               92
Victoria          78
PA                75
CT                61
BC                48
NH                34
Tokyo             32
NV                29
Isle of Wight     26
Quebec            22
NJ                21
Osaka             20
Queensland        15
Name: STATE, dtype: int64

In [40]:
data['TERRITORY'] = data['TERRITORY'].fillna('Unknown')
data['STATE'] = data['STATE'].fillna('Unknown')

In [35]:
data['TERRITORY'].value_counts()

EMEA       1407
Unknown    1074
APAC        221
Japan       121
Name: TERRITORY, dtype: int64

In [41]:
data['STATE'].value_counts()

Unknown          1486
CA                416
MA                190
NY                178
NSW                92
Victoria           78
PA                 75
CT                 61
BC                 48
NH                 34
Tokyo              32
NV                 29
Isle of Wight      26
Quebec             22
NJ                 21
Osaka              20
Queensland         15
Name: STATE, dtype: int64

### drop ADDRESSLINE2 cause it is no use

In [36]:
data = data.drop(columns=['ADDRESSLINE2'])

In [43]:
data.dropna()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Unknown,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,Unknown,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Unknown,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Unknown,Young,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Unknown,Hirano,Juri,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Unknown,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,981-443655,Torikatu 38,Oulu,Unknown,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Unknown,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,61.77.6555,1 rue Alsace-Lorraine,Toulouse,Unknown,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,6175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,Unknown,Yoshido,Juri,Medium

In [45]:
data.shape

(2823, 24)

In [46]:
data.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY',
       'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE'],
      dtype='object')

In [48]:
data['PRODUCTLINE'].value_counts()

Classic Cars        967
Vintage Cars        607
Motorcycles         331
Planes              306
Trucks and Buses    301
Ships               234
Trains               77
Name: PRODUCTLINE, dtype: int64

In [49]:
data['DEALSIZE'].value_counts()

Medium    1384
Small     1282
Large      157
Name: DEALSIZE, dtype: int64

In [50]:
data.to_csv('new.csv', index=False)

### save changes to new csv

In [51]:
df = pd.read_csv('new.csv')

In [52]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Unknown,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,Unknown,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Unknown,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Unknown,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,San Francisco,CA,NaN,USA,Unknown,Brown,Julie,Medium

In [53]:
df.shape

(2823, 24)

In [55]:
df['YEAR_ID'].value_counts()

2004    1345
2003    1000
2005     478
Name: YEAR_ID, dtype: int64

In [57]:
df['STATUS'].value_counts()

Shipped       2617
Cancelled       60
Resolved        47
On Hold         44
In Process      41
Disputed        14
Name: STATUS, dtype: int64